@import "tailwindcss";

@theme {
  --color-light: #ffffff;
  --color-dark: #171717;
}

body {
  color: var(--color-dark);
  background: var(--color-light);
  font-family: system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-light);
    background: var(--color-dark);
  }
}
